%li.detail
  %h3 Ingresos y Egresos

  = image_tag 'incomes-list-small.png'
  %p
    Controle el flujo de sus ingresos y egresos, controle cobros, pagos, inventarios y todo el flujo relacionado, cree cotizaciones, esta es la pieza central que le permitirá controlar el movimiento de su empresa.
  .clearfix
