%h2#prices Planes y precios


.row
  .col-md-4
    %h3 Todos los planes incluyen

    %ul.common-features
      %li
        %i.icon-ok.green
        Prueba gratis por 15 días
      %li
        %i.icon-ok.green
        Sin contratos
      %li
        %i.icon-ok.green
        Actualizaciones gratuitas
      %li
        %i.icon-ok.green
        Registros ilimitados
      %li
        %i.icon-ok.green
        Backups diarios de su información
      %li
        %i.icon-ok.green
        Funcionamiento en unidades móviles


  .col-md-4
    .pricebox
      %h3
        30
        %small USD por mes

      %h4
        %span.gray PEQUEÑO:
        2 usuarios

      -#.center
        %a.but-blue(href='http://app.bonsaierp.com/registrations/new')
          Regístrese

  .col-md-4
    .pricebox
      %h3
        50
        %small USD por mes

      %h4
        %span.gray MEDIANO:
        5 usuarios

      -#.center
        %a.but-blue(href='http://app.bonsaierp.com/registrations/new')
          Regístrese
