.comment
  = image_tag 'karine_kids.jpg'

  %p
    %i.b bonsaiERP
    es una herramienta sencilla y bonita para poder manejar los ingresos, egresos y las operaciones de la escuela, lo encuentro divertido de usar.

  %strong Karine Hutchinson
  %br
  = link_to 'Comunidad Educativa Flor de Montaña', 'https://www.facebook.com/pages/Comunidad-Educativa-Flor-de-Monta%C3%B1a-Samaipata/328547163929333', target: '_blank'

  .clearfix

-#%a.but-blue Botón azul
-#%a.but-red Botón rojo
-#%a.but-yellow Botón amarillo

= render 'home/features'

%h3
  Pruebe nuestro demo para ver lo fácil que es usar bonsaiERP
%br
%h2.center
  %a.but-green(href="http://app.bonsaierp.com/?demo_login=true") Pruebe el demo

%br
%hr

= render 'prices'
