.comment
  = image_tag 'karine_kids.jpg'

  %p
    %i.b bonsaiERP
    es una herramienta sencilla y bonita para poder manejar los ingresos, egresos y las operaciones de la escuela, lo encuentro divertido de usar.

  %strong Karine Hutchinson
  %br
  = link_to 'Comunidad Educativa Flor de Montaña', 'https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=2&cad=rja&ved=0CDEQFjAB&url=https%3A%2F%2Fwww.facebook.com%2Fpages%2FComunidad-Educativa-Flor-de-Monta%25C3%25B1a-Samaipata%2F328547163929333&ei=gn4TUprJBcTm2QWKiYDQCg&usg=AFQjCNGrdCRg-ar8EOBd1HC7bufRHzVU5w&sig2=HH13JwrUUuaZZZb78XDtmA&bvm=bv.50952593,d.b2I', target: '_blank'

  .clearfix

-#%a.but-blue Botón azul
-#%a.but-red Botón rojo
-#%a.but-yellow Botón amarillo


= render 'home/features'

-#%p
  %i bonsaiERP
  es un programa enfocado en el uso más eficiente y seguro de la información de
  su empresa. Inténtelo y experimente los beneficios de bonsaiERP

-#.row
  .col-lg-4
    .holder
      %h4 Seguridad
      maneje su información con confianza, sus datos siempre estarán seguros en la red

  .col-lg-4
    .holder
      %h4 Seguridad
      maneje su información con confianza, sus datos siempre estarán seguros en la red


  .col-lg-4
    .holder
      %h4 Flexibilidad
      bonsaiERP se adapata z<a sus necesidades sin obligarlo a tener un flujo rigido, sino un manejo sencillo y claro

%hr

= render 'prices'
