.footer
  .container.pad20
    .row
      .col-md-6.col-sm-6
        #contact= render 'home/form'

      .col-md-6.col-sm-6.c.carbin(style="margin-top: 40px")
        ©2010-2014 ·
        %i BonsaiERP
        El software para la gestión de empresas

        .social-media
          %a(href="https://www.facebook.com/bonsaierpapp")
            %i.icon-facebook(title="facebook")

          %a(href="https://twitter.com/bonsaierp")
            %i.icon-twitter(title="twitter")

          %a(href="https://google.com/+bonsaiERP")
            %i.icon-google-plus(title="Google+")
