.footer
  .container.pad20
    .row
      .col-md-6
        #contact= render 'home/form'
      .col-md-6.c(style="margin-top: 40px")
        ©2010-2013 ·
        %i BonsaiERP
        El software para la gestión de empresas

        .social-media
          %a(href="https://twitter.com/bonsaierp")
            %i.icon-twitter-sign(title="twitter")
          %a(href="https://www.facebook.com/pages/BonsaiERP/337187402983197")
            %i.icon-facebook-sign(title="facebook")
