.footer
  .container.pad20
    .row
      .col-md-6
        = render 'home/form'
      .col-md-6.c(style="margin-top: 40px")
        ©2010-2013 ·
        %i BonsaiERP
        El software para la gestión de empresas
        %a(href="https://twitter.com/bonsaierp") Twitter
        ·
        %a(href="https://www.facebook.com/pages/BonsaiERP/337187402983197") Facebook
