.container.rel.portrait
  #slogan-header
    .bg-dark
      %div
        %h4
          %i bonsaiERP
          es un sistema web de gesti칩n
          empresarial f치cil de usar dise침ado para controlar
          sus compras, ventas, contactos, inventarios y cuentas permitiendo una administraci칩n integral

        .center
          %h4
            %a.but-green(href="http://app.bonsaierp.com/?demo_login=true")
              Pruebe el demo

%div.image-bg-home
