.container.rel.portrait
  #slogan-header
    .bg-dark
      %div
        %h4
          %i bonsaiERP
          es un sistema web de gestión
          empresarial fácil de usar diseñado para controlar
          sus compras, ventas, contactos, inventarios y cuentas permitiendo una administración integral

        .center
          %h4
            %a.but-green(href="#")
              Regístrese gratis

%div.image-bg-home
