.container.rel.portrait
  #slogan-header
    .bg-dark
      %div
        %h4
          %i bonsaiERP
          es un sistema
          %strong Software libre
          ERP Web
          flexible y fácil de usar diseñado para controlar
          sus compras, ventas, contactos, inventarios y cuentas permitiendo una administración integral

        .center
          %h4
            %a.but-green(href="http://app.bonsaierp.com/?demo_login=true")
              Pruebe el demo

%div.image-bg-home
