%header#menu.navbar.navbar-default.navbar-fixed-top(role="navigation")
  .container
    .navbar-header
      %button.navbar-toggle(data-toggle="collapse" data-target='.nav-main')
        %i.icon-reorder
        MENÚ
      %a.navbar-brand(href="#home")
        = image_tag 'bonsai-logo.png', width: '140px'

    .navbar-collpase.nav-main(role="navigation")
      %ul.nav.navbar-nav.pull-right
        %li
          %a(href='#home') Inicio
        %li
          %a(href='#product') Producto
        %li
          %a(href='#prices') Precios
        %li
          %a(href='#contact') Contacto
        %li
          %a.dark(href="http://app.bonsaierp.com/?demo_login=true")
            Demo
        %li
          %a.dark(href='http://app.bonsaierp.com')
            %i.icon-signin
            Entrar
